.view {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  font-size: 16px;
}

.view .form-login {
  display: flex;
  flex-direction: row;
}


.view .form-login div{
  border-radius: 100px;
  margin: auto;
  width: 100px;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  background: red;
  color: white;
  font-size: 3em;
}


label {
  display: inline-block;
  width:50px;
}

p {
  margin: 15px;
}

#play {
  margin: 20px;
}